.searchButton {
  outline: none !important;
  border: none;
  border-radius: 0 5px 5px 0;
  background-color: #e07a5f;
  color: white;
  width: 100%;
  max-width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 38px;
}
